<a href="https://colab.research.google.com/github/ikiseki/TareasPracticas/blob/main/TiposdeDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tipos de Datos en Sintaxis**

Empezando por los ***numericos***:


> Enteros, Flotantes y Complejos

In [8]:
numEntero=12
numFlotante=19.333
numComplejo=3+2j

print("numero entero: ",numEntero)
print("numero flotante: ",numFlotante)
print("numero complejo: ",numComplejo)

numero entero:  12
numero flotante:  19.333
numero complejo:  (3+2j)

Tipos de ***texto***:


> String

In [9]:
texto="recuerden que cada dos tazas de agua a una de arroz"
print(texto)

recuerden que cada dos tazas de agua a una de arroz

Tipos ***Logicos***:


> Bool

In [10]:
logico=True
print(logico)

True

Tipos ***compuestos***:


> list, tulpe, range

In [16]:
listaEjemplo=["hola a todos",2,4+5j]
print(listaEjemplo[0]) #ejemplo de como acceder a un elemento de la lista y como es indexable
tulpaEjemplo=(1,5,"azucar")
print(tulpaEjemplo[2])
rangoEjemplo=range(-8,0)
print(rangoEjemplo[3])

hola a todos
azucar
-5